In [10]:
string="""Ethics or moral philosophy is a branch of philosophy that involves systematizing, defending,and recommending concepts of right and wrong conduct"""

In [11]:
words=string.split(' ')
len(words)

20

In [13]:
[w for w in words if len(w)>9]

['philosophy', 'philosophy', 'systematizing,', 'defending,and', 'recommending']

In [14]:
[w for w in  words if w.istitle()]

['Ethics']

In [20]:
[w for w in  words if w.startswith('r')]

['recommending', 'right']

In [22]:
[w for w in  words if w.endswith('g')]

['recommending', 'wrong']

In [23]:
txt='to be or not to be'

In [24]:
wrds=txt.split(' ')

In [25]:
wrds

['to', 'be', 'or', 'not', 'to', 'be']

In [29]:
len(set(wrds))

4

In [30]:
st='raviprakashyadav'
t=st.split('p')
t

['ravi', 'rakashyadav']

In [32]:
'p'.join(t)

'raviprakashyadav'

In [33]:
#cleaning text

In [38]:
txt='   A quick brown fox jumped over the lazy dog. '
words=txt.split(' ')
words

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [39]:
#so
txt='   A quick brown fox jumped over the lazy dog. '
txt=txt.strip()
words=txt.split(' ')
words

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [40]:
txt.find('o')

10

In [41]:
txt.rfind('o')

40

In [46]:
text1 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @NY Society for Ethical Culture bit.ly/2guVelr'
text2 = text5.split(' ')

text2

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [47]:
#hashtags
[w for w in text2 if w.startswith('#')]

['#UNSG']

In [48]:
#callouts
[w for w in text6 if w.startswith('@')]

['@']

In [49]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [50]:
[w for w in text8 if w.startswith('@')]

['@UN', '@UN_Women', '@']

In [54]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [55]:
txt='uaigrioehekrdioa'
re.findall('[aeiou]',txt)

['u', 'a', 'i', 'i', 'o', 'e', 'e', 'i', 'o', 'a']

In [56]:
re.findall('[^aeiou]',txt)

['g', 'r', 'h', 'k', 'r', 'd']

In [57]:
#text in pandas
import pandas as pd

In [58]:
time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [59]:
df.text.str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [60]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [63]:
#find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [64]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [65]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [66]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [67]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [68]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [69]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [70]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [71]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [72]:
import re
s='ravi @122ravi rs32303jdkjdk'
re.findall(r'\d',s)

['1', '2', '2', '3', '2', '3', '0', '3']